
.main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

.stepper {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 15px solid;
  border-image: linear-gradient(to right, #000000 0%, #000000 100%);
  border-image-slice: 1;
  border-width: 15px;
  margin: 0;
  padding: 47px;

  position: relative;
  color: #34435E;
}


.stepper:nth-child(odd) {
  border-left: 15px solid;
  padding-right: 0;
}
.stepper:nth-child(odd)::before {
  left: 100%; 
  margin-left: -20px;
}

.stepper:nth-child(even) {
  border-right: 15px solid;
  padding-left: 0;
}
.stepper:nth-child(even)::before {
  right: 100%; 
  margin-right: -20px;
}

.stepper:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.stepper:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.timeline-back{
  background-image: url("./Leather-2.jpg");
  height: 100vh;
  background-size: cover;
}

.c{
  border-left: none !important;
  border-right: none !important;
}
.stepper-content{
  width: 80%;
  color: #000 !important;
  z-index: 2;
}
.stepper-img{
  width: 100px;
  height: 100px;
}