
.stepper {
  display: flex;
  align-items: center;
}
@media only screen and (max-width:480px){
  .main {
    max-width: 300px;
  }
}




.stepper:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.stepper:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.timeline-back{
  background-image: url("../../assets/images/saichamois-leathertimeline.jpeg");
  background-size: cover;
}

.c{
  border-left: none !important;
  border-right: none !important;
}
.stepper-content{
  width: 80%;
  color: white !important;
  z-index: 2;
  text-align: center;
  margin-bottom: 0rem !important;
}
@media only screen and (max-width:480px){
  .stepper-content{
    font-size: 12px;
    line-height: 1.5;
  }
}

@media only screen and (max-width:480px){
  .stepper-img{
    width: 45px;
    height: 45px;
  }
}


/* .stepper-img{
  width: 90px;
  height: 90px;
  transition: width 1s, height 1s;
} */



.stepper {
display: flex;
align-items: center;
}
@media only screen and (max-width:340px){
  .main {
    min-width: 250px;
    max-width: 250px;
  }
  .stepper-img{
    width: 40px;
    height: 40px;
  }
  .stepper-content{
    font-size: 11px;
    line-height: 1.8;
  }
}
@media only screen and (max-width:280px){
  .main {
    min-width: 200px;
    max-width: 200px;
  }
  .stepper-img{
    width: 40px;
    height: 40px;
  }
  .stepper-content{
    font-size: 9px;
    line-height: 1.8;
  }
}









