.data-slide{
background-color: #1D1D1D;
height: 80vh;
position: relative;
border-radius: 1100px 1100px 0 0;
text-align: center;
}
.products-heading1{
    color:white;
}
@media only screen and (max-width:480px){
    .products-heading1{
        font-size: 20px;
    }
  }
.products-content1{
    color: white;
}
@media only screen and (max-width:480px){
    .products-content1{
        font-size: 12px;
    }
  }
.products-slide1{
    left: 28%;
    bottom: 22%;
    position: absolute;
    width: 44%;
}

@media only screen and (max-width:480px){
    .products-slide1{
        padding-top: 350px;
        width: 75%;
        left: 12%;
    }
  }
.carousel-indicators{
    display: none;
}
  .products-head{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px 0;
    letter-spacing: 5px;
    border-radius: 50%;
}
.products-marquee{
    color: black;
    height: 10vh;
    height: 50%;
    text-align: center;
}
.circle1{
    width: 110px;
    height: 110px;
    background: #343434;
    background-image: url("../../assets/images/leather_shoe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70px;
    position: absolute;
    bottom: 15%;
    left: 6%;
}

.circle2{
    width: 180px;
    height: 180px;
    background: #343434;
    background-image: url("../../assets/images/leather_wallet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 130px;
    position: absolute;
    bottom: 38%;
    left: 16%;
}
.circle3{
    width: 260px;
    height: 260px;
    background: #343434;
    background-image: url("../../assets/images/leather_shoe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 150px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.circle4{
    width: 180px;
    height: 180px;
    background: #343434;
    background-image: url("../../assets/images/leather_glove.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 130px;
    position: absolute;
    bottom: 38%;
    right: 16%;
}
.circle5{
    width: 110px;
    height: 110px;
    background: #343434;
    background-image: url("../../assets/images/leather_shoe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70px;
    position: absolute;
    bottom: 15%;
    right: 6%;
}

@media only screen and (max-width:1068px){
    .circle1{
        width: 95px;
    height: 95px;
    bottom: 15%;
    left: 5%;
    }
    
    .circle2{
        width: 140px;
        height: 140px;
        bottom: 40%;
        left: 14%;
    }
    .circle3{
        width: 180px;
        height: 180px;
        bottom: 53%;
        left: 50%;
    }
    .circle4{
        width: 140px;
    height: 140px;
    bottom: 40%;
    right: 14%;
    }
    .circle5{
        width: 95px;
        height: 95px;
        bottom: 15%;
        right: 5%;
    }
}

@media only screen and (max-width:980px){
    .circle1{
        width: 80px;
        height: 80px;
        bottom: 17%;
        left: 5%;
    }
    
    .circle2{
        width: 120px;
        height: 120px;
        bottom: 41%;
        left: 14%;
    }
    .circle3{
        width: 180px;
        height: 180px;
        bottom: 55%;
        left: 50%;
    }
    .circle4{
        width: 120px;
        height: 120px;
        bottom: 41%;
        right: 14%;
    }
    .circle5{
        width: 80px;
        height: 80px;
        bottom: 17%;
        right: 5%;
    }
}

@media only screen and (max-width:760px){
    .circle1{
        left: 5%;
    }
    
    .circle2{
        left: 12%;
    }
    .circle4{
        right: 12%;
    }
    .circle5{
        right: 5%;
    }
}

@media only screen and (max-width:700px){
    .circle1{
        width: 70px;
        height: 70px;
        bottom: 19%;
        left: 7%;
    }
    
    .circle2{
        width: 125px;
        height: 125px;
        bottom: 38%;
        left: 16%;
    }
    .circle3{
        width: 170px;
        height: 170px;
        bottom: 58%;
        left: 50%;
    }
    .circle4{
        width: 125px;
        height: 125px;
        bottom: 38%;
        right: 16%;
    }
    .circle5{
        width: 70px;
        height: 70px;
        bottom: 19%;
        right: 7%;
    }
}

@media only screen and (max-width:572px){
    .circle1{
        width: 50px;
        height: 50px;
        bottom: 19%;
        left: 7%;
    }
    
    .circle2{
        width: 100px;
        height: 100px;
        bottom: 38%;
        left: 12%;
    }
    .circle3{
        width: 140px;
        height: 140px;
        bottom: 58%;
        left: 50%;
    }
    .circle4{
        width: 100px;
        height: 100px;
        bottom: 38%;
        right: 12%;
    }
    .circle5{
        width: 50px;
        height: 50px;
        bottom: 19%;
        right: 7%;
    }
}

@media only screen and (max-width:427px){
    .circle1{
        width: 40px;
        height: 40px;
        bottom: 19%;
        left: 7%;
    }
    
    .circle2{
        width: 80px;
        height: 80px;
        bottom: 38%;
        left: 7%;
    }
    .circle3{
        width: 120px;
        height: 120px;
        bottom: 58%;
        left: 50%;
    }
    .circle4{
        width: 80px;
        height: 80px;
        bottom: 38%;
        right: 7%;
    }
    .circle5{
        width: 40px;
        height: 40px;
        bottom: 19%;
        right: 7%;
    }
}