.data-slide{
background-color: #1D1D1D;
height: 90vh;
position: relative;
border-radius: 1100px 1100px 0 0;
text-align: center;
}
.products-heading1{
    color:white;
}
@media only screen and (max-width:480px){
    .products-heading1{
        font-size: 20px;
    }
  }
.products-content1{
    color: white;
}
@media only screen and (max-width:480px){
    .products-content1{
        font-size: 12px;
    }
  }
.products-slide1{
    left: 28%;
    bottom: 22%;
    position: absolute;
    width: 44%;
}

@media only screen and (max-width:480px){
    .products-slide1{
        padding-top: 350px;
        width: 75%;
        left: 12%;
    }
  }
.carousel-indicators{
    display: none;
}
@media only screen and (max-width:480px){
  }
  .products-head{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px 0;
    letter-spacing: 5px;
    border-radius: 50%;
}
.products-marquee{
    color: black;
    height: 10vh;
    height: 50%;
    text-align: center;
}
.circle1{
    width: 120px;
    height: 120px;
    background: #343434;
    border-radius: 70px;
    position: absolute;
    bottom: 15%;
    left: 6%;
}

.circle2{
    width: 225px;
    height: 225px;
    background: #343434;
    border-radius: 130px;
    position: absolute;
    bottom: 38%;
    left: 16%;
}
.circle3{
    width: 300px;
    height: 300px;
    background: #343434;
    border-radius: 150px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.circle4{
    width: 225px;
    height: 225px;
    background: #343434;
    border-radius: 130px;
    position: absolute;
    bottom: 38%;
    right: 16%;
}
.circle5{
    width: 120px;
    height: 120px;
    background: #343434;
    border-radius: 70px;
    position: absolute;
    bottom: 15%;
    right: 6%;
}
