.back-green{
    background-color: green;
}
.natural-para{
    font-size: 21px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    padding: 30px 25%;
}
@media only screen and (max-width:480px){
    .natural-para{
        font-size: 14px;
        padding: 25px 5%;
    }
  }
.natural-container{
    background: url("./natural.jpeg");background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    font-family: 'Arvo-Regular';
}