.header{
    color: blue;
}
.contact-icon{
    color: green;
    margin-right: 15px;
    font-size: 1.5rem;
}

.input-field{
    margin-bottom: 8px;
}
.form-but{
    float: right;
}
.footer-text p{
 margin-top:1rem;
}
.footer2-back{
    clip-path: polygon(100% 0, 100% 79%, 60% 79%, 43% 88%, 18% 89%, 0 100%, 0 0);
    background: url("./Leather-3.jpg");
    background-size: cover;
    padding: 5% 0;
}
.form{
    width: 55%;
}
.address{
    padding: 5% 0;
}