.carousel-control-next {
    align-items: unset;
}

.carousel-control-prev {
    align-items: unset;
}

.data-slide2{
    background-color: #1D1D1D;
    height: 90vh;
    position: relative;
    border-radius: 1100px 1100px 0 0;
    text-align: center;
    }
    .products-heading2{
        color:white;
    }
    @media only screen and (max-width:480px){
        .products-heading2{
            font-size: 20px;
        }
      }
    .products-content2{
        color: white;
    }
    @media only screen and (max-width:480px){
        .products-content2{
            font-size: 12px;
        }
      }
    .products-slide2{
        left: 28%;
        bottom: 22%;
        position: absolute;
        width: 44%;
    }

    
    @media only screen and (max-width:700px){
        .products-heading2{
            font-size: 88%;
        }
        .products-content2{
            font-size: 70%;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            width: 12px;
            height: 12px;
        }
    }

    @media only screen and (max-width:572px){
        .products-heading2{
            font-size: 78%;
        }
        .products-content2{
            font-size: 65%;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            width: 12px;
            height: 12px;
        }
    }

    @media only screen and (max-width:420px){
        .products-heading2{
            font-size: 68%;
        }
        .products-content2{
            font-size: 60%;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            width: 11px;
            height: 11px;
        }
    }

    
    @media only screen and (max-width:400px){
        .carousel-control-next-icon, .carousel-control-prev-icon {
            display: none;
        }
    }

    @media only screen and (max-width:330px){
        .products-heading2{
            font-size: 58%;
        }
        .products-content2{
            font-size: 50%;
        }
    }