.top-bars{
    text-align: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(255, 255, 255);
    overflow: hidden;
    z-index: 1;
}
.top-bar{
    text-align: center;
}
.icon{
    font-size: 40px;
}
.header-col{
    padding: 1%;
}
.menu-col1{
    background-color: #F4F4F4;
    height: 90vh;
}
.menu-col2{
    background-color: #F0F0F0;
    height: 90vh;
}