.slidetype {
    transform: scale(0.7);
    transition: transform 300ms;
    opacity: 0.5;
  }
  
  .slideWrapper {
    display: flex;
    justify-content: center;
  }
  
  .prevArrow {
    position: absolute;
    top: 37%;
    left: 220px;
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .nextArrow {
    position: absolute;
    top: 37%;
    right: 230px;
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
  }
  .carousel-img{
    width: 380px;
    height: auto;
}