


    @media only screen and (max-width:480px){
        .carousel-control-next, .carousel-control-prev {
            display: none;
        }
        .carousel-item {
            width: 80%;
            left: 10%;
        }
      }