.slider2-image{
    /* clip-path: polygon(0% 0%, 100% 0%, 55% 100%, 0% 100%); */
    background: url("../../assets/images/naked-deer.webp");
    height: 90vh;
    background-size: cover;
    position: relative;
}



.landing-heading{
    font-size: 2rem;
    position: absolute;
    bottom: 2%;
    left: 4%;
    font-family: 'Arvo-Regular';
    color: white;
    text-transform: uppercase;
    line-height: 1;
  }
  .landing-heading span{
    font-size: 6.5rem;
  }
  



