.slider2-image{
    /* clip-path: polygon(0% 0%, 100% 0%, 55% 100%, 0% 100%); */
    background: url("./Leather-1.jpeg");
    height: 90vh;
    background-size: cover;
    position: relative;
}
.bx1{
    width: 350px;
    height: 125px;
    font-size: 12px;
    padding: 21px 90px 21px 21px ;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: left;
    background-color: #F4F2F3;
}
@media only screen and (max-width:480px){
    .bx1{
        width: 650px;
        height: 200px;
        font-size: 22px;
        padding: 21px 184px 21px 30px;
    }
}
.bx2{
    width: 350px;
    height: 125px;
    padding: 20px;
    position: absolute;
    background-color: #F4F2F3;
    margin-left: 200px;
}

.slide2-icon{
    width: 90px;
    height: 90px;
}
.bx{
    position: absolute;
    bottom: 4%;
    height: 250px;
    width: 550px;
    right: 0;
    z-index: 1;
}
@media only screen and (max-width:480px){
    .bx{
        position: unset;
        padding-top: 50%;
    }
}
.triangle-bottomright { 
    position: absolute;
    right: 0;
    width: 0; 
    height: 0; 
    border-bottom: 125px solid #eaeaea; 
    border-left: 150px solid transparent; 
 }
 /* .triangle-white{
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 591px solid white;
    border-left: 570px solid transparent;
 } */