.header{
    color: blue;
}
.footer-container{
    height: 70vh;
}
.contact-section{
    height: 100%;
}
.contact-icon{
    color: green;
    margin-right: 15px;
    font-size: 1.5rem;
}
.contactno{
    color: #000;
}
.email{
    color: #000;
}
@media only screen and (min-width:1400px) and (max-width:2000px){
    .contact-icon{
        font-size: 2.5rem;
    }
  }
.input-field{
    margin-bottom: 8px;
    background-color: white;
    border-color: white;
}
.form-but{
    float: right;
}
.footer-text p{
 margin-top:1rem;
}
@media only screen and (min-width:1400px) and (max-width:2000px){
    .footer-text p{
        font-size: 30px;
       }
    }
@media only screen and (min-width:1400px) and (max-width:2000px){
    .rights{
        font-size: 30px;
       }
  }
.footer-back{
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 3% 100%, 12% 78%, 12% 45%, 0 20%);
    background: url("../../assets/images/saichamois-footer.jpeg");
    background-size: cover;
    padding: 5% 0;
}
.form{
    width: 55%;
}
.address{
    padding: 5% 0;
}
.btn-dark {
    color: #fff;
    background-color: black;
    border-color: black;
}
@media only screen and (min-width:1400px) and (max-width:2000px){
    .form-control{
        font-size: 1.8rem;
    }
  }
  @media only screen and (min-width:1400px) and (max-width:2000px){
    .btn{
        font-size: 1.8rem;
    }
  }