.header{
    color: blue;
}
.contact-icon{
    color: green;
    margin-right: 15px;
    font-size: 1.5rem;
}

.input-field{
    margin-bottom: 8px;
}
.form-but{
    float: right;
}
.footer-text p{
 margin-top:1rem;
}
.footer-back{
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 3% 100%, 12% 78%, 12% 45%, 0 20%);
    background: url("./Leather-3.jpg");
    background-size: cover;
}
.form{
    width: 55%;
}
