


/* .deer-text{
    background: url("./Deer.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 20vh;
    width: 70%;
} */
.image-heading{
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: arvo;
    letter-spacing: 10px;
    font-size: 2rem;
    margin: 3% auto;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    align-content: center;
    align-items: center;
    height: 100%;
  }

  .image-content{
    font-family: 'Arvo-Regular';
    font-size: 14px;
    text-align: justify;
    padding-top: 5%;
  }
  .image-details{
    font-family: 'Arvo-Regular';
    font-size: 12px;
    text-align: justify;
    padding-top: 3%;
  }
  .image-uses{
    font-family: 'Arvo-Regular';
    font-weight: bold;
    font-size: 13px;
    text-align: justify;
    padding-top: 3%;
  }

  .carousel-img{
    width: 350px;
    height: 150px;
  }
  

  @media only screen and (max-width:1200px){
      .image-content{
        font-size: 14px;
        padding-top: 5%;
      }
      .image-heading{
        font-size: 2rem;
      }
  }

  @media only screen and (max-width:900px){
    .carousel-img{
      width: 300px;
    }
    .image-content{
      font-size: 14px;
    }
    .image-heading{
      font-size: 2.2rem;
    }
}

@media only screen and (max-width:820px){
  .image-content{
    width: 80%;
    left: 10%;
    position: relative;
  }
  .image-details{
    width: 80%;
    left: 10%;
    position: relative;
  }

}


@media only screen and (max-width:740px){
  .carousel-img{
    width: 280px;
    height: 200px;
  }
  .image-content{
    font-size: 13px;
  }
  .image-heading{
    font-size: 2rem;
  }
}

  @media only screen and (max-width:700px){
    .carousel-img{
        width: 250px;
      }
      .image-heading{
        letter-spacing: 5px;
        font-size: 2rem;
      }
      .image-content{
        font-size: 11px;
        padding-top: 5%;
        padding-bottom: 3%;
      }
  }

  @media only screen and (max-width:604px){
    .carousel-img{
        width: 200px;
        height: 150px;
      }
      .image-heading{
        letter-spacing: 5px;
        font-size: 1.8rem;
      }
      .image-content{
        font-size: 11px;
      }
  }

  @media only screen and (max-width:511px){
    .carousel-img{
        width: 160px;
        height: 100px;
      }
      .image-heading{
        letter-spacing: 3px;
        font-size: 1.2rem;
      }
      .image-content{
        font-size: 63%;
      }
      .image-details{
        font-size: 63%;
        padding-top: 0%;
      }
      .image-uses{
        font-size: 100%;
        padding-top: 0%;
      }
  }

  @media only screen and (max-width:382px){
    .carousel-img{
        width: 120px;
      }
      .image-heading{
        letter-spacing: 3px;
        font-size: 0.8rem;
        padding-top: 5%;
      }
      .image-content{
        font-size: 8px;
      }
      .image-details{
        font-size: 50%;
      }
  }
