
.stepper {
  display: flex;
  align-items: center;
}
  @media only screen and (max-width:480px){
    .main {
      max-width: 300px;
    }
  }

  

  .timeline-back{
    background-image: url("../../assets/images/slink-lamb.webp");
    background-size: cover;
  }
  


  @media only screen and (max-width:480px){
    .stepper-content{
      font-size: 12px;
      line-height: 1.8;
    }
  }

  @media only screen and (max-width:480px){
    .stepper-img{
      width: 45px;
      height: 45px;
    }
  }

