
.main {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
  }
  @media only screen and (max-width:480px){
    .main {
      max-width: 300px;
    }
  }

  

  .timeline-back{
    background-image: url("./Leather-2.jpg");
    background-size: cover;
  }
  

  .stepper-content{
    width: 80%;
    color: white !important;
    z-index: 2;
    text-align: center;
    margin-bottom: 0rem !important;
    font-weight: 100;
    transition: font-weight 4s;
  }
  @media only screen and (max-width:480px){
    .stepper-content{
      font-size: 12px;
      line-height: 1.5;
    }
  }
  .stepper-content:hover{
    font-weight: 600;
  }
  .stepper-img{
    width: 90px;
    height: 90px;
    transition: width 1s, height 1s;
  }
  @media only screen and (max-width:480px){
    .stepper-img{
      width: 85px;
      height: 85px;
    }
  }
  .stepper-img:hover{
    width: 100px;
    height: 100px;
  }
  @media only screen and (max-width:480px){
    .stepper-img:hover{
      width: 95px;
      height: 95px;
    }
  }

  .stepper1{
    font-size: 1em;
    line-height: 1.75em;
    border-image-slice: 1;
    border-width: 15px;
    margin: 0;
    padding: 20px;
    z-index: 1;
    position: relative;
    color: #DFDFDF;
    padding-right: 0;
    border-left: none !important;
    border-right: none !important;
  }
  
  .stepper2{
    font-size: 1em;
    line-height: 1.75em;
    border-top: 15px solid;
    border-image-slice: 1;
    border-width: 15px;
    margin: 0;
    padding: 20px;
    z-index: 1;
    position: relative;
    color: #DFDFDF;
    border-right: 10px solid;
    padding-left: 0;
    border-top-right-radius:20px;
  }
  .stepper3{
    font-size: 1em;
    line-height: 1.75em;
    border-top: 15px solid;
    border-image-slice: 1;
    border-width: 15px;
    margin: 0;
    padding: 20px;
    z-index: 1;
    position: relative;
    color: #DFDFDF;
    border-left: 10px solid;
    padding-right: 0;
    border-top-left-radius:20px;
  }
  .stepper4{
    font-size: 1em;
    line-height: 1.75em;
    border-top: 15px solid;
    border-image-slice: 1;
    border-width: 15px;
    margin: 0;
    padding: 20px;
    z-index: 1;
    position: relative;
    color: #DFDFDF;
    border-right: 10px solid;
    padding-left: 0;
    border-top-right-radius:20px;
  }
  .stepper5{
    font-size: 1em;
    line-height: 1.75em;
    border-top: 15px solid;
    border-image-slice: 1;
    border-width: 15px;
    margin: 0;
    padding: 20px;
    z-index: 1;
    position: relative;
    color: #DFDFDF;
    border-left: 10px solid;
    padding-right: 0;
    border-top-left-radius:20px;
  }
  .stepper6{
    font-size: 1em;
    line-height: 1.75em;
    border-top: 15px solid;
    border-image-slice: 1;
    border-width: 15px;
    margin: 0;
    padding: 20px;
    z-index: 1;
    position: relative;
    color: #DFDFDF;
    padding-right: 0;
    border-left: none !important;
    border-right: none !important;
  }