.timeline-dot{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 0px;
    position: relative;
    left: -13px;
}
.vertical-line{
    border-left: 1px solid grey;
    height: 80vh;
    width: 0px;
    margin-top: 5vh;
    margin-bottom: 15vh;
}
.left-boxes{
    display: flex;
    flex-direction: column;
}
.leftbox1{
    padding: 10px 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin: 8%;
    margin-top: 30%;
    position: relative;
}
.leftbox1::after {
    content: " ";
    position: absolute;
    right: -25px;
    top: 45px;
    border-top: 25px solid transparent;
    border-right: none;
    border-left: 25px solid white;
    border-bottom: 25px solid transparent;
}
.leftbox2{
    position: relative;
    padding: 10px 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin: 5% 8%;
}
.leftbox2::after {
    content: " ";
    position: absolute;
    right: -25px;
    top: 41px;
    border-top: 25px solid transparent;
    border-right: none;
    border-left: 25px solid white;
    border-bottom: 25px solid transparent;
}
.rightbox1{
    position: relative;
    padding: 10px 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin: 8% 8%;
}
.rightbox1::after {
    content: " ";
    position: absolute;
    left: -25px;
    top: 48px;
    border-top: 25px solid transparent;
    border-right: 25px solid white;
    border-left: none;
    border-bottom: 25px solid transparent;
}
.rightbox2::after {
    content: " ";
    position: absolute;
    left: -25px;
    top: 48px;
    border-top: 25px solid transparent;
    border-right: 25px solid white;
    border-left: none;
    border-bottom: 25px solid transparent;
}
.rightbox3::after {
    content: " ";
    position: absolute;
    left: -25px;
    top: 48px;
    border-top: 25px solid transparent;
    border-right: 25px solid white;
    border-left: none;
    border-bottom: 25px solid transparent;
}
.rightbox2{
    position: relative;
    padding: 10px 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin: 5% 8%;
}
.rightbox3{
    position: relative;
    padding: 10px 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin: 7% 8%;
}
.timeline-section{
    display: flex;
}
.timeline-main{
    background-color: #dfdfdf;
}
.leftbox-number{
    font-size: 30px;
    color: green;
}